/* CSS for etch-a-sketch */
/* Use flexbox to make grid */

.container {
    display: flex;
    gap: 10px;
}

.grid {
    border: solid black;
    height: 100px;
    width: 100px;
}

/* .grid {
    border: solid black;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    /* align-items: center;
    justify-content: center;
    padding: 10px 10px;
    width: 100px;  /* These make it square */
    /* height: 100px; These make it square */
    /* margin: 0 auto;
/* } */ 

/* .row {
    display: flex;
    gap: 10px;
}

.column {
    background-color: lightblue;
    padding: 1rem 0;
    flex: 1;
} */
